<div id="mixer" class="mixer device p-1 text-center">

   <div class="title">
      <h3>Mixer</h3>
   </div>

   <div class="channels panel w-80">

      <div class="channel-strip p-1">
         <div class="knob square-h p-1 m-b-1">
            <div class="ui-label font-s">Label</div>
            <div class="fa fa-circle"></div>
         </div>
         <div class="knob square-h p-1">
            <div class="ui-label font-s">Label</div>
            <div class="fa fa-circle"></div>
         </div>
         <div class="knob square-h p-1">
            <div class="ui-label font-s">Label</div>
            <div class="fa fa-circle"></div>
         </div>
         <div class="knob square-h p-1">
            <div class="ui-label font-s">Label</div>
            <div class="fa fa-circle"></div>
         </div>
         <div class="fader square-h p-1">
            <div class="ui-label font-s">Label</div>
            <div class="fa fa-circle"></div>
         </div>
      </div>

   </div>
   <div class="master channels panel w-80">
   </div>

</div>
